@font-face {
	font-family: "KFGQPC Uthmanic Script HAFS";
	src: local("KFGQPC Uthmanic Script HAFS"),
		local("KFGQPC Uthmanic Script HAFS"),
		url("KFGQPC Uthmanic Script HAFS Regular.woff2") format("woff2"),
		url("KFGQPC Uthmanic Script HAFS Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
